body {
	background-color: #F56A67; 
}
div {
	width: 200px;
	height: 300px;
	background-color: #543678;
	border: 3px solid #FFFFFF;
}
div.proba{
	background-color: #532213;
	border: 10px solid #543678;;
	color:#666379;
	font-family: Verdana;
	font-size: 2em;
}

div#probas{
	background-color: #532213;
	border: 20px dashed #F56A67;;
	color:#666379;
	font-family: Tahoma;
	font-size: 4em;
	margin: 100px;
	padding:50px;
	box-shadow: 8px 8px 10px #666666;
}
p.es{
	cursor: crosshair;
	background-color: #111222;
	border: 10px solid #983745;;
	color:#765432;
	font-family: Verdana;
	font-size: 3em;
	margin: 500px;
	padding:50px;
	text-shadow: 2px 2px 4px #666666;
}
div.hola {
	color:#328976;
}
