@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

section {
	width: 100%;
	height: 100%;
}
main, body, html {
	height: 100%;
	overflow: hidden;
}


#home{
	background-color: #666666;
}

#portfolio {
	background-color: #666666;
}
#tesimonios{
		background-color: #666666;
}
#contacto{
	background-color: #666666;
}
#sobre_mi{
	background-color: #666666;
}
nav {
	background-color: #636e72;
	overflow: hidden;
	position: fixed;
	/*display:flex;
	  justify-contenent: space-around;
	  flex-direction:row;
	 */
	top: 0px;
	left: 0px;
	right: 0px;
}
nav h1 {
	width: 40%;
	float: left;
	border: 1px solid red;
	height: 60px;
}
nav ul {
	width: 60%;
	overflow: hidden;
	float: left;
	border: 1px solid red;
}

nav li {
	width: 25%;
	list-style: none;
	float: left;
	/*background-image: url(..\images\);
	background-position:  ;
	background-repeat:no-repeat; */

}